.features-container {
  background-color: hsl(0, 0%, 98%);
  padding: 100px 10%;
  .top-text {
    width: 50%;

    h1 {
      font-weight: 400;
      color: hsl(233, 26%, 24%);
    }

    p {
      margin-top: 20px;
      color: hsl(233, 8%, 62%);
      line-height: 150%;
    }
  }
  .features-containers {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // background-color: red;
    .features {
      margin: 0px 20px;
      margin-top: 100px;
      h2 {
        font-weight: 300;
        margin: 35px 0px 20px 0px;
        color: hsl(233, 26%, 24%);
      }

      p {
        color: hsl(233, 8%, 62%);
        line-height: 150%;
        letter-spacing: 0px;
      }
    }
  }
}
