.hero {
  padding: 150px 0px 100px 10%;
  box-sizing: initial;
  position: relative;
  height: 500px;
  max-width: 100%;
  overflow: hidden;

  .text-container {
    position: absolute;
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-size: 3.5rem;
      font-weight: 300;
      letter-spacing: -2px;
      color: hsl(233, 26%, 24%);
    }

    p {
      margin: 30px 0px;
      color: hsl(233, 8%, 62%);
      line-height: 150%;
    }
  }

  .bg-image {
    position: absolute;
    left: 40%;
    transform: translateY(-50%);
    top: 50%;
    z-index: -1;
  }
}

.image {
  position: absolute;
  top: -20px;
  right: -10%;
  z-index: 99;
  overflow: hidden;
}

@media only screen and(max-width: 1200px) {
  .image {
    img {
      width: 60vw;
    }
  }
}

@media only screen and(max-width: 1040px) {
  .image {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
    overflow: hidden;
    display: none;
    img {
      width: 100%;
    }
  }

  .hero {
    height: initial;
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    overflow-y: hidden;

    .text-container {
      text-align: center;
      width: 95%;
      display: block;
      margin: 0 auto;
      position: initial;
      padding: 0px 5%;
      padding-top: calc(10vw + 10px);
      transform: translateX(0%);
      margin-bottom: 100px;

      h1 {
        font-size: 2.7rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .bg-image {
      position: initial;
      top: 100px;
      z-index: -1;
      width: 100%;
      // height: 100%;
      transform: translateY(0%);
    }
  }
}

// @media only screen and(max-width: 450px) {
//   .image {
//     width: 100%;
//     // background-color: red;
//     right: 0;

//     img {
//       width: 100%;
//     }
//   }

//   .hero {
//     height: auto;
//     padding-left: 0%;
//     padding-right: 0%;
//     padding-bottom: 0px;
//     padding-top: 100vh;

//     .text-container {
//       text-align: center;
//       width: 95%;
//       display: block;
//       margin: 0 auto;
//       position: initial;
//       padding: 0px 5%;
//       h1 {
//         font-size: 2.7rem;
//       }

//       p {
//         font-size: 1rem;
//       }
//     }

//     .bg-image {
//       display: none;
//     }
//   }
// }
